body {
    height: 100%;
    width: 100%;
    background: #26498d;
}

#form {
    width: 990px;
    height: 700px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.who-title {
    padding: 20px;
}

.text {
    width: 700px;
    height: 675px;
    // border: 5px solid yellow;
    overflow: auto;
    background: #f0f3fa;
}

#msg {
    width: 530px;
    height: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 25px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    outline: none;
    padding-left:20px; 
}

.sub-container {
    overflow: hidden;
}
.content-text{
    padding-left:20px; 
}

.sub-button {
    position: absolute;
    width: 100px;
    height: 40px;
    background: #4ca3e6;
    text-align: center;
    font-size: 18px;
    color: #fff;
    bottom: 20px;
    left: 580px;
    border-radius: 25px;
    border: 1px solid #4ca3e6;
}

.title {
    background: #f5f9fc;
    width: 700px;
    font-size: 18px;
    border-bottom: 3px solid #e3e8ec;
}

.chat-left {
    float: left;
}

.chat-right {
    width: 290px;
    height: 700px;
    background: #3176af;
    float: right;
    overflow: auto;
}
.person{
    line-height: 20px;
    margin-top: 20px;
    color: green;
    font-size: 18px;
    font-weight: bold; 
}
.personsay{
    line-height: 20px;
    padding-left:20px 
}

.enter-title {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    border-bottom:1px solid #4786c9;
}
.enter-title-h {
    height: 80px;
    line-height: 80px;
    color: #fff;
    border-bottom:1px solid #4786c9;
    text-align: center;
    width: 100%;
}
