<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Chat example</title>
    <link rel="stylesheet" type="text/css" href="../css/socket.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
</head>

<body>
    <form id="form">
        <div class="chat-left">
            <div class="title">
                <div class="who-title">昵称</div>
            </div>
            <div class="text"></div>
            <div class="sub-container">
                <p contenteditable="true" size="50" id="msg"></p>
                <input type="submit" value="发送" class="sub-button">
                <span class="expression">
                    <i class="expression-radius"></i>
                    <i class="reg"></i>
                    <ul class="express-list">
                        <li class="express-extent">
                            <img width="40px" height="40px" src="http://image48.360doc.com/DownloadImg/2011/12/2310/20235268_2.jpg">
                        </li>
                        <li class="express-extent">
                            <img width="40px" height="40px" src="http://image48.360doc.com/DownloadImg/2011/12/2310/20235268_2.jpg">
                        </li>
                        <li class="express-extent">
                            <img width="40px" height="40px" src="http://image48.360doc.com/DownloadImg/2011/12/2310/20235268_2.jpg">
                        </li>
                        <li class="express-extent">
                            <img width="40px" height="40px" src="http://image48.360doc.com/DownloadImg/2011/12/2310/20235268_2.jpg">
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="chat-right">
            <div class="who-enter">
                <div class="enter-title">在线详情</div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="../js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../js/fesocket.js"></script>
</body>

</html>
