<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Chat example</title>
    <link rel="stylesheet" type="text/css" href="../css/socket.css">
</head>

<body>
    <form id="form">
        <div class="chat-left">
            <div class="title">
                <div class="who-title">昵称</div>
            </div>
            <div class="text"></div>
            <div class="sub-container">
                <input size="50" id="msg">
                <input type="submit" value="发送" class="sub-button">
            </div>
        </div>
        <div class="chat-right">
            <div class="who-enter">
                <div class="enter-title">在线详情</div>
            </div>
        </div>
    </form>
<script type="text/javascript" src="../js/fesocket.js"></script>
</body>

</html>